body{
    background-color: #f4f4f4;
    color: #555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /* Same as above*/
    font: normal 16px, Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}

.container{
    width: 80%;
    margin: auto;
}

.box1{
    background-color: #d8bfd8;
    color: #fff;

    border-right: 3px red solid;
    border-top: 3px red solid;
    border-left: 3px red solid;
    border-bottom: 3px red solid;

    /* Same as above */
    border: 3px red solid;
    border-width: 3px; /* same width on all 4 sides*/
}